**Aula 1 - Análise de Dados com Pandas** #PANDAS

In [1]:
import pandas as pd #para começar precisa importar a biblioteca Pandas

In [40]:
# Aqui é onde está o arquivo de exemplo da aula 1 (do git rub)
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv") # Carrega o arquivo CSV em um DataFrame chamado 'df'.

In [41]:
df.head() # Exibe as primeiras 5 linhas do DataFrame para uma visualização rápida.

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [42]:
df.info() # Fornece um resumo conciso do DataFrame, incluindo tipos de dados, contagem de valores não nulos e uso de memória.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [43]:
df.describe() # Gera estatísticas descritivas para as colunas numéricas do DataFrame.

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [44]:
df.shape # Retorna uma tupla representando as dimensões (linhas, colunas) do DataFrame.

(133349, 11)

In [45]:
linhas, colunas = df.shape[0], df.shape[1] # Extrai o número de linhas e colunas do DataFrame.
print("linhas:", linhas)
print("colunas:", colunas)

linhas: 133349
colunas: 11

In [46]:
df.columns # Exibe os nomes de todas as colunas do DataFrame.

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [47]:
df.columns # Exibe os nomes de todas as colunas do DataFrame (repetido para clareza).

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [48]:
import pandas as pd

# Reload the DataFrame to ensure original column names
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv") # Recarrega o DataFrame para garantir nomes de coluna originais.

# Apply the correct renaming
df.rename(columns={
    "work_year": "ano",
    "experience_level": "senioridade",
    "employment_type": "tipo_emprego",
    "job_title": "cargo",
    "salary": "salario",
    "salary_currency": "moeda",
    "salary_in_usd": "salario_em_usd",
    "employee_residence": "residencia",
    "remote_ratio": "remoto",
    "company_location": "empresa",
    "company_size": "tamanho_empresa"
 },inplace=True) # Renomeia as colunas do DataFrame para português.

print(df.columns) # Exibe os novos nomes das colunas após a renomeação.

Index(['ano', 'senioridade', 'tipo_emprego', 'cargo', 'salario', 'moeda',
       'salario_em_usd', 'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [49]:
df.columns # Exibe os nomes atuais das colunas do DataFrame.

Index(['ano', 'senioridade', 'tipo_emprego', 'cargo', 'salario', 'moeda',
       'salario_em_usd', 'residencia', 'remoto', 'empresa', 'tamanho_empresa'],
      dtype='object')

In [50]:
df["senioridade"].value_counts() # Conta a ocorrência de cada valor único na coluna 'senioridade'.

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [51]:
df["tipo_emprego"].value_counts() # Conta a ocorrência de cada valor único na coluna 'tipo_emprego'.

tipo_emprego
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [52]:
df["remoto"].value_counts() # Conta a ocorrência de cada valor único na coluna 'remoto'.

remoto
0      105312
100     27718
50        319
Name: count, dtype: int64

In [53]:
df["tamanho_empresa"].value_counts() # Conta a ocorrência de cada valor único na coluna 'tamanho_empresa'.

tamanho_empresa
M    129561
L      3574
S       214
Name: count, dtype: int64

In [54]:
df['senioridade'] = df['senioridade'].replace({
    'SE': 'Senior',
    'MI': 'Pleno',
    'EN': 'Junior',
    'EX': 'Executivo'
}) # Substitui os códigos de nível de experiência por descrições completas.

df['senioridade'].value_counts() # Exibe a contagem de valores na coluna 'senioridade' após a substituição.

senioridade
Senior       77241
Pleno        40465
Junior       12443
Executivo     3200
Name: count, dtype: int64

In [55]:
df['tamanho_empresa'] = df['tamanho_empresa'].replace({
    'L': 'Grande',
    'M': 'Médio',
    'S': 'Pequeno'
}) # Substitui os códigos de tamanho de empresa por descrições completas.

df['tamanho_empresa'].value_counts() # Exibe a contagem de valores na coluna 'tamanho_empresa' após a substituição.

tamanho_empresa
Médio      129561
Grande       3574
Pequeno       214
Name: count, dtype: int64

In [56]:
df.head() # Exibe as primeiras 5 linhas do DataFrame para verificar as alterações.

,ano,senioridade,tipo_emprego,cargo,salario,moeda,salario_em_usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Senior,FT,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Senior,FT,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Pleno,FT,Data Engineer,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Pleno,FT,Data Engineer,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Junior,FT,Data Engineer,90000,USD,90000,US,0,US,Médio

In [57]:
df.describe() # Gera estatísticas descritivas para as colunas numéricas do DataFrame após as modificações.

                 ano       salario  salario_em_usd         remoto
count  133339.000000  1.333490e+05   133349.000000  133349.000000
mean     2024.358770  1.632833e+05   157617.272098      20.905669
std         0.680627  2.173860e+05    74288.363097      40.590044
min      2020.000000  1.400000e+04    15000.000000       0.000000
25%      2024.000000  1.060200e+05   106000.000000       0.000000
50%      2024.000000  1.470000e+05   146206.000000       0.000000
75%      2025.000000  1.990000e+05   198000.000000       0.000000
max      2025.000000  3.040000e+07   800000.000000     100.000000

In [58]:
df.describe(include='object') # Gera estatísticas descritivas para as colunas de objeto (categóricas) do DataFrame.

,senioridade,tipo_emprego,cargo,moeda,residencia,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,95,3
top,Senior,FT,Data Scientist,USD,US,US,Médio
freq,77241,132563,17314,126140,119579,119641,129561

**Aula 2 - Preparação e Limpeza dos Dados** #PRINT

In [59]:
df.isnull() #Dados nulos

,ano,senioridade,tipo_emprego,cargo,salario,moeda,salario_em_usd,residencia,remoto,empresa,tamanho_empresa
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [60]:
df.head()

,ano,senioridade,tipo_emprego,cargo,salario,moeda,salario_em_usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Senior,FT,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Senior,FT,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Pleno,FT,Data Engineer,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Pleno,FT,Data Engineer,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Junior,FT,Data Engineer,90000,USD,90000,US,0,US,Médio

In [61]:
df.isnull().sum() #Soma os dados nulos #Ali na linha ano tem o resultado 10 > são 10 campos que não a variavel ano preenchida

ano                10
senioridade         0
tipo_emprego        0
cargo               0
salario             0
moeda               0
salario_em_usd      0
residencia          0
remoto              0
empresa             0
tamanho_empresa     0
dtype: int64

In [62]:
df['ano'].unique() #valores unicos #nan > valores vazios/nulos

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [63]:
df[df.isnull().any(axis=1)] #Mostra os dados nulos

,ano,senioridade,tipo_emprego,cargo,salario,moeda,salario_em_usd,residencia,remoto,empresa,tamanho_empresa
5588,NaN,Senior,FT,Product Manager,184500,USD,184500,US,0,US,Médio
59692,NaN,Pleno,FT,Engineer,110000,USD,110000,DE,0,DE,Médio
59710,NaN,Junior,FT,Data Scientist,208800,USD,208800,US,0,US,Médio
59759,NaN,Senior,FT,Software Engineer,135000,USD,135000,US,0,US,Médio
59789,NaN,Senior,FT,Engineer,112000,USD,112000,US,0,US,Médio
131000,NaN,Senior,FT,Machine Learning Engineer,163800,USD,163800,US,0,US,Médio
131006,NaN,Senior,FT,Data Analytics Manager,204500,USD,204500,US,0,US,Médio
133054,NaN,Junior,FT,Data Scientist,40000,USD,40000,JP,100,MY,Grande
133281,NaN,Pleno,FT,Machine Learning Engineer,180000,PLN,46597,PL,100,PL,Grande
133317,NaN,Pleno,FT,Data Scientist,130000,USD,130000,US,50,US,Grande

In [77]:
#criação de dataframe para exemplificar como lidar com dados nulos
import numpy as np #iniciei o codigo abaixo e depois a importação da biblioteca para lidar com numeros acima do df_salario
df_salarios = pd.DataFrame({
   "nome" : ["Ana", "Bruno", "Carlos", "Daniele", "Val"], #nomes ficticios
   "salario" : [4000, np.nan, 5000, np.nan, 1000000] #400 > Ana, np.nan (nulo) > Bruno, 500 > Carlos, np.nan (nulo) > Daniele
})
#calcula a média salarial e substitui os nulos pela média e arredonda os valores
df_salarios["salario_media"] = df_salarios["salario"].fillna(df_salarios["salario"].mean().round(2))

'''Calcula mediana e substitui os nulos pela mediana
'''
df_salarios["salario_mediana"] = df_salarios["salario"].fillna(df_salarios["salario"].median())

df_salarios

      nome    salario  salario_media  salario_mediana
0      Ana     4000.0        4000.00           4000.0
1    Bruno        NaN      336333.33           5000.0
2   Carlos     5000.0        5000.00           5000.0
3  Daniele        NaN      336333.33           5000.0
4      Val  1000000.0     1000000.00        1000000.0

In [78]:
#quando o dados não faz sentido tirar a média
df_temperaturas = pd.DataFrame({
    "Dia" : ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
    "Temperatura" : [30, np.nan, np.nan, 28, 27]
}) # Cria um DataFrame de exemplo para demonstrar preenchimento de dados.

df_temperaturas["preenchido_ffill"] = df_temperaturas["Temperatura"].ffill() # Preenche os valores nulos na coluna 'Temperatura' com o último valor válido observado (forward-fill).
df_temperaturas

       Dia  Temperatura  preenchido_ffill
0  Segunda         30.0              30.0
1    Terça          NaN              30.0
2   Quarta          NaN              30.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [80]:
df_temperaturas = pd.DataFrame({
    "Dia" : ["Segunda", "Terça", "Quarta", "Quinta", "Sexta"],
    "Temperatura" : [30, np.nan, np.nan, 28, 27]
}) # Cria um DataFrame de exemplo para demonstrar preenchimento de dados.

df_temperaturas["preenchido_bfill"] = df_temperaturas["Temperatura"].bfill() # Preenche os valores nulos na coluna 'Temperatura' com o último valor válido observado (forward-fill).
df_temperaturas
#o bfill vem de back, usando o pandas

       Dia  Temperatura  preenchido_bfill
0  Segunda         30.0              30.0
1    Terça          NaN              28.0
2   Quarta          NaN              28.0
3   Quinta         28.0              28.0
4    Sexta         27.0              27.0

In [85]:
#() para chamar {} para criar
df_cidades = pd.DataFrame({
    "nome" : ["Ana", "Bruno", "Carlos", "Daniele", "Val"],
    "cidade" : ["São Paulo", np.nan, "Curitiba", np.nan, "Belém"]
})

df_cidades["cidade_preenchida"] = df_cidades["cidade"].fillna("Não informado")
df_cidades

      nome     cidade cidade_preenchida
0      Ana  São Paulo         São Paulo
1    Bruno        NaN     Não informado
2   Carlos   Curitiba          Curitiba
3  Daniele        NaN     Não informado
4      Val      Belém             Belém

In [88]:
#voltando para a base inicial. A base tem somente 10 nulos, sugestão de excluir, mas primeiro armazenar
df_limpo = df.dropna()
df_limpo.isnull().sum()

ano                0
senioridade        0
tipo_emprego       0
cargo              0
salario            0
moeda              0
salario_em_usd     0
residencia         0
remoto             0
empresa            0
tamanho_empresa    0
dtype: int64

In [89]:
df_limpo.head() #a coluna veio com o 0 no final do ano

,ano,senioridade,tipo_emprego,cargo,salario,moeda,salario_em_usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,Senior,FT,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025.0,Senior,FT,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025.0,Pleno,FT,Data Engineer,158800,USD,158800,AU,0,AU,Médio
3,2025.0,Pleno,FT,Data Engineer,139200,USD,139200,AU,0,AU,Médio
4,2025.0,Junior,FT,Data Engineer,90000,USD,90000,US,0,US,Médio

In [90]:
df_limpo.info() #ali no Dtype está float64, temos alguns tipos de numeros, precisa tirar a casa decimal

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   ano              133339 non-null  float64
 1   senioridade      133339 non-null  object
 2   tipo_emprego     133339 non-null  object
 3   cargo            133339 non-null  object
 4   salario          133339 non-null  int64
 5   moeda            133339 non-null  object
 6   salario_em_usd   133339 non-null  int64
 7   residencia       133339 non-null  object
 8   remoto           133339 non-null  int64
 9   empresa          133339 non-null  object
 10  tamanho_empresa  133339 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 12.2+ MB

In [92]:
df_limpo = df_limpo.assign(ano = df_limpo["ano"].astype("int64"))

df_limpo.head()

,ano,senioridade,tipo_emprego,cargo,salario,moeda,salario_em_usd,residencia,remoto,empresa,tamanho_empresa
0,2025,Senior,FT,Solutions Engineer,214000,USD,214000,US,100,US,Médio
1,2025,Senior,FT,Solutions Engineer,136000,USD,136000,US,100,US,Médio
2,2025,Pleno,FT,Data Engineer,158800,USD,158800,AU,0,AU,Médio
3,2025,Pleno,FT,Data Engineer,139200,USD,139200,AU,0,AU,Médio
4,2025,Junior,FT,Data Engineer,90000,USD,90000,US,0,US,Médio